body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 20px;
}

.orange {
    color: orange;
}

.button {
    display: inline-block;
    color: white;
    background: #FF5959;
    padding: 15px 60px;
    border-radius: 5px;
    font-size: 20px;
}

.top-section {
    width: 100%;
    padding: 70px 0px;
}

.top-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.top-contents {
    width: 50%;
}

.top-header h1 {
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

.top-header {
    border-left: 5px solid #FF5959;
    padding-left: 15px;
    margin-top: 100px;
}

.top-image {
    width: 50%;
    text-align: center;
    margin-top: -100px;
}

.top-image img {
    width: 500px;
}

.top-contents p {
    width: 80%;
}

.top-contents a {
    text-decoration: none;
}

.mission {
    width: 100%;
    padding-bottom: 100px;
}

.mission h1 {
    text-align: center;
    font-size: 60px;
}

.mission-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.mission-item {
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.mission-item h2 {
    font-size: 30px;
}

.mission-item img {
    width: 200px;
}

.bg1 {
    background-color: #EDF5F6;
}

.bg2 {
    background-color: #FFEEEE;
}

.bg3 {
    background-color: #FFF4D6;
}

.develop {
    width: 100%;
    padding-bottom: 100px;
    background-image: url(images/shapes/shape-10.png);
    background-repeat: no-repeat;
    background-position: left;
}

.develop-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.develop-image {
    width: 40%;
}

.develop-image img {
    width: 500px;
}

.develop-content {
    width: 60%;
}

.develop-content h1 {
    font-size: 45px;
}

.develop-content p {
    width: 80%;
}

.develop-content a {
    text-decoration: none;
}

.cummunity {
    width: 100%;
    padding-bottom: 100px;
    background-image: url(images/shapes/shape-11.png);
    background-repeat: no-repeat;
    background-position: right;
}

.cummunity-items {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.cummunity-image {
    width: 40%;
}

.cummunity-image img {
    width: 500px;
}

.cummunity-content {
    width: 60%;
}

.cummunity-content h1 {
    font-size: 45px;
}

.cummunity-content p {
    width: 80%;
}

.cummunity-content a {
    text-decoration: none;
}